<%- include('../partials/header.ejs', { title:'Lab1'}) %>
<%- include('../partials/navigation.ejs') %>


<h2><%= wine.name %></h2>
<div><p><strong>Quantity: <%= wine.quantity %></strong></p></div>
<%- include('../partials/footer.ejs') %>